*.sdf
*.suo
*.psess
*.vsp
*.opendb
*.opensdf
*.exe
*.log
*.PVS-Studio.cfg
*.i
*.i-*
Microsoft.DTfW.DHL.manifest
output.txt
sceneSave.txt
/Debug/*
/Release/*
/x64/*
.DS_Store
/Assets/Atlases/*.png
runsdvui.cmd
M2tMLibrary.VC.opendb
M2tMLibrary.VC.db
.vs/config/applicationhost.config
*.ipch
*.tmp
.vs/M2tMLibrary/v15/Browse.VC.db
.vs/M2tMLibrary/v15/Solution.VC.db
.vs/M2tMLibrary/v15/Solution.VC.db-shm
.vs/M2tMLibrary/v15/Solution.VC.db-wal
*.db
*.db-wal
*.db-shm
BindstoneGameServer/
*.user
