*.sdf
*.suo
*.psess
*.vsp
*.opendb
*.opensdf
*.exe
*.log
*.PVS-Studio.cfg
Microsoft.DTfW.DHL.manifest
output.txt
sceneSave.txt
.DS_Store
runsdvui.cmd
M2tMLibrary.VC.opendb
M2tMLibrary.VC.db
.vs/config/applicationhost.config
*.ipch
*.tmp
.vs/M2tMLibrary/v15/Browse.VC.db
.vs/M2tMLibrary/v15/Solution.VC.db
.vs/M2tMLibrary/v15/Solution.VC.db-shm
.vs/M2tMLibrary/v15/Solution.VC.db-wal
*.db
*.db-wal
*.db-shm
*.user
.vs/VSWorkspaceState.json
build/
*.lnk
*.pdb
*.idb
.vs/
bfg.jar
Builds/*
*.gradle/
VSProjects/BindstoneClient/BindstoneClient_AndroidGradle/app/src/main/jniLibs/*/libbindstonemain.so
VSProjects/BindstoneClient/BindstoneClient_AndroidGradle/app/src/main/jniLibs/*/libexternal.a
VSProjects/BindstoneClient/BindstoneClient_AndroidGradle/app/src/main/jniLibs/*/libSDL2.so
VSProjects/BindstoneClient/BindstoneClient_AndroidGradle/app/src/main/jniLibs/*/libSDL2_Image.so
VSProjects/BindstoneClient/BindstoneClient_AndroidGradle/app/src/main/jniLibs/*/libSDL2_ttf.so
VSProjects/BindstoneClient/BindstoneClient_AndroidGradle/app/src/main/jniLibs/*/libwolfssl.so
VSProjects/BindstoneClient/BindstoneClient_AndroidGradle/app/src/main/jniLibs/*/libmutedvision.so
VSProjects/BindstoneClient/BindstoneClient_AndroidGradle/app/src/main/jniLibs/*/libmutedvision.a
.workspace/
VSProjects/BindstoneClient/BindstoneClient_AndroidGradle/app/src/main/jniLibs/*/gdbserver
VSProjects/BindstoneClient/BindstoneClient_AndroidGradle/app/src/main/jniLibs/*/libc++_shared.so
VSProjects/BindstoneClient/BindstoneClient_AndroidGradle/app/src/main/jniLibs/*/libbindstonecommon.a
VSProjects/SDL2/Builds/
VSProjects/SDL2/CascadeBuildTest/obj/tree_enc.obj
VSProjects/SDL2/CascadeBuildTest/
VSProjects/MutedVision/MutedVision_Windows/Builds/
VSProjects/MutedVision/MutedVision_Windows/CascadeBuildTest/
msbuild.pre
External/VSProjects/External_Windows/CascadeBuildTest/
External/VSProjects/External_Windows/Builds/Intermediate/Windows/External_Windows/ExternalWindows/x64/Release/External_Windows.tlog/External_Windows.lastbuildstate
External/VSProjects/External_Windows/Builds/Intermediate/Windows/External_Windows/ExternalWindows/x64/Debug/External_Windows.tlog/External_Windows.lastbuildstate
External/VSProjects/External_Windows/Builds/Intermediate/Windows/External_Windows/ExternalWindows/x64/Release/External_Windows.tlog/CL.command.1.tlog
External/VSProjects/External_Windows/Builds/
build_output.txt
build_errors.txt
